# Ignore authentication file in the Google Earth Engine (GEE) folder
sigma-hallway-357006-ad5b9b727b59.json

# Ignore specific Tableau workbook file
landscape_character_of_nigeria.twbx

# Ignore all Tableau workbook files (.twb and .twbx formats) across the entire repo
*.twbr
*.twbx

# Ignore all files in the following folders to ensure the size of the repo is kept minimal
# Access to the folders will be made public on OSF and/or a Journal as soon as possible.
all_output/*
Tableau/*
.venv/

# Except for .gitkeep, so the folder itself is tracked
!all_output/.gitkeep
!Tableau/.gitkeep
!.venv/.gitkeep

